@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  width: 100%;
  height: 100%;
  font-family: "Poppins", sans-serif;
  overflow-x: hidden;
}

body {
  overflow-y: auto;
}

/* header css is inside Header component */

/* Hero Section is inside Contact component*/



/* Contact Section */
.contact {
  width: 100%;
  margin-top: 10px;
}

/* Buttons */
.buttons {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 15px;
}
.buttons button{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.btn {
  background-color: black;
  color: #fff;
  border: none;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 15px;
  font-weight: 500;
  transition: all 0.3s ease-in-out;
}

.email-btn {
  background: transparent;
  border: 1px solid black;
  color: #000;
  width: 100%;
  margin-bottom: 10px;
}

/* Input Fields */
.inputs {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding: 5px;
  margin-top: 20px;
}

.inputs input,
.inputs textarea {
  border: 1px solid #000000c9;
  outline: none;
  width: 100%;
  padding: 10px 20px;
  border-radius: 2px;
  font-size: 15px;
  font-weight: 500;
  transition: all 0.3s ease-in-out;
}

.inputs input:focus,
.inputs textarea:focus {
  border: 1px solid black;
}

.submit-btn {
  align-self: flex-end;
  padding: 10px 50px;
}

/* Responsive Design */
@media (min-width: 768px) {
  .header img {
    margin-left: 100px;
  }

  body {
    overflow: hidden;
  }

  .hero-section p {
    max-width: 80%;
  }

  .contact {
    width: 75%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .text {
    width: 75%;
  }

  .container {
    width: 50%;
    padding-right: 8%;
  }

  .images {
    width: 50%;
    display: grid;
    place-items: center;
  }

  .images img {
    width: 80%;
    height: auto;
    object-fit: cover;
  }

  .buttons button{
    width: 45%;

  }
  .buttons .email-btn{
    width: 100%;
  }
}

@media (max-width: 768px) {
  .images {
    display: none;
  }
}
