* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
  width: 100%;
  font-family: 'Poppins', sans-serif;
}

body {
  background: url('https://s3-alpha-sig.figma.com/img/8ec1/8041/d1c7823a13dc2a1623370d1198d5d263?Expires=1742169600&Key-Pair-Id=APKAQ4GOSFWCW27IBOMQ&Signature=Xoq7Bq-X8ZlrCF40idYvn6kqxRSqpcgH-8tRaVHNioIO20JAV3A4AYMIxfJPWG99i3yx9xO0nez7k1ykUICDXXXb93OHqglBfhA8o~KkXQJLovYhjP2baYeUUwV9fYgNUj7d5yLQVu-SWAF9sv3GWLjGYPn5R-eQ7UVvq6axnuBxhSz~7No2DsLPpJQ4q1kpD1Spk6Mk-vG5bketQh4WwinOE7ETLv0Ws1qDWeFMkswoVMQqv2X2zTbzDiEn6nDERgIcoujohQM7K9gJJORKILx8x1y-1sWcXmWcBtMaTGPQhdLKkxUIoqlCiw63KfZov5zAyUAc1bORSytC2vukWg__') no-repeat center center/cover;
}

span {
  color: #ff4343;
}

/* Header Styling */
.header {
  background-color: rgba(0, 0, 0, 0.8);
  padding: 10px 15px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

/* Title Section */
.title {
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  gap: 20px;
}

.title h1 {
  font-size: 2.5rem;
  color: #fff;
}

.title input {
  width: 90%;
  max-width: 400px;
  padding: 8px;
  border: 1px solid red;
  border-radius: 5px;
  outline: none;
  background: transparent;
  color: #fff;
  font-weight: 600;
}

.title input::placeholder {
  color: #fff;
}

/* Button Container */
.btn-container {
  max-width: 500px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  margin: 10px auto;
}

.btn-container button {
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  background-color: #ff4343;
  color: #fff;
  font-weight: 700;
  cursor: pointer;
  outline: none;
  transition: background 0.3s ease;
}

.btn-container button:hover {
  background-color: #d62e2e;
}

/* Hero Section */
.hero {
  width: 100%;
  min-height: calc(100vh - 208px);
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  padding: 20px;
}

/* Food Container */
.food-container {
  width: 320px;
  background-color: rgba(32, 34, 32, 0.8);
  padding: 20px;
  border-radius: 10px;
  display: flex;
  gap: 20px;
  align-items: center;
  justify-content: center;
  color: #fff;
  height: 100%;
}

/* Image Styling */
.hero img {
  width: 100px;
  height: 100px;
  object-fit: cover;
  border-radius: 8px;
}
.hero .details{
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.price-btn{
  align-self: flex-end;
  background-color: #ff4343;
  padding: 5px;
  border-radius: 5px;
  color: #fff;
  font-weight: 700;
  cursor: pointer;
  width:fit-content;
} 

/* Responsive Design */
@media (min-width: 500px) {
  .title {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0 5%;
    margin-top: 30px;
  }

  .title input {
    width: 40%;
  }
}
