@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
  margin: 0;padding: 0;box-sizing: border-box;
}
html,body{
  height: 100%;width: 100%;
}
body{
  width: 100vw;
  height: 100vh;
  /* background-color: #d46969; */
  font-family: "Poppins", sans-serif;

  display: grid;
  place-items: center;
}
.home{
  background-color: white;
  width: 70vw;

  display: flex;
  align-items: center;
}
.home img{
  width: 60%;
}
.home .text{
  /* background-color: red; */
  width: 50%;
}
.home .text h1{
  font-weight: 800;
  font-size: 4.8rem;
}
button{
  float : right;
  background-color: black;
  color: #fff;
  border: none;
  outline: none;
  font-weight: 600;
  padding: 10px 15%;
  margin-right: 5px;
}